/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
/* * {
  border: 2px solid yellow;
} */

body{
  background-color: #2B2733;
  margin: 0;
}
header {
  background-color: #46424D;
  color: #FFF;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom:8px;
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #CBC9CF;
}
.box-1 {
  display: flex;
  flex-direction: column;
  height:20em;
  width: 40em;
  background-color: #46424D;
  font-family: Montserrat;
  font-weight: 400;
}
.new-activity-section {
  display: flex;
  justify-content: space-around;
}
.time {
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  }
.minutes, .seconds {
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #EEEEEE 1px;
  padding: 3px 10px;
  color: #EEEEEE;
  background-color: transparent;
  }
.inputs {
  display:flex;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  /* border-bottom: solid #EEEEEE 1px; */
  justify-content: space-around;
  padding: 3px 10px;
  color: #EEEEEE;
  background-color: transparent;
}
.start-btn {
  margin-top: 3em;
  width: 10em;
  align-self: flex-end;
}
