/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
/* * {
  border: 2px solid yellow;
} */

body{
  background-color: #2B2733;
  margin-top: 0;
  height: 100%;
  width: 100%;
}

header {
  background-color: #46424D;
  color: #FFF;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom:8px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2em;
  color: #CBC9CF;
}

.box-1 {
  display: flex;
  flex-direction: column;
  height:30em;
  width: 45em;
  background-color: #46424D;
  font-family: Montserrat;
  font-weight: 400;
  border-right:#46424D;
}

.box-2 {
  color: #FFF;
  font-family: Montserrat;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  border-left: 4px solid #46424D;
  margin-right: 15em;
  border: 2px solid green;
  margin-left: 2em;
  padding-right: 10em;
}

h4 {
  display: flex;
  flex-direction: column;
  border: 2px solid orange;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 24px;
  margin-top: -2em;
}

.default-msg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;

}

.new-activity-section {
  display: flex;
  justify-content: space-around;

}

.time {
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
}

.minutes, .seconds {
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #EEEEEE 1px;
  padding: 3px 10px;
  color: #EEEEEE;
  background-color: transparent;
}

.accomplish-input{
  display:flex;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  justify-content: space-around;
  padding: 3px 10px;
  color: #EEEEEE;
  background-color: transparent;
}

.inputs {
  display:flex;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  justify-content: space-around;
  padding: 3px 10px;
  color: #EEEEEE;
  background-color: transparent;
}

.start-btn {
  cursor:pointer;
  margin-top: 3em;
  width: 10em;
  height: 2.5em;
  align-self: flex-end;
  margin-right: 4em;
  border-radius: .3em;
  border: none;
}

.activity-form {
  display: flex;
  flex-direction: column;
}

.input-1 {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

h3 {
  margin-left: 3em;
}

label {
  padding:1em
}

h2 {
  font-family: Montserrat;
  font-weight: 300;
  color: #FFF;
  margin-left: 1em;
}

 .new-activity-section button {
  display: flex;
   width: 8.5em;
  height: 4em;
  background-color: #46424D;
  border-radius: .3em;
  cursor:pointer;
  justify-content: center;
  align-items: flex-end;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  padding: .5em;
 }


.study-button {
  background-image: url("assets/study.svg");
  border: 2px solid #CBC9CF;
  color: #CBC9CF;
}

.study-button-active {
  background-image: url("assets/study-active.svg");
  border: 2px solid #B3FD78;
  color: #B3FD78;
}

.meditate-button {
  background-image: url("assets/meditate.svg");
  border: 2px solid #CBC9CF;
  color: #CBC9CF;
}

.meditate-button-active {
  background-image: url("assets/meditate-active.svg");
  border: 2px solid #C278FD;
  color: #C278FD;
}

.exercise-button {
  background-image: url("assets/exercise.svg");
  border: 2px solid #CBC9CF;
  color: #CBC9CF;
 }

.exercise-button-active {
  background-image: url("assets/exercise-active.svg");
  border: 2px solid salmon;
  color: salmon;
}

.time-labels {
  display:flex;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 12em;
}

.minutes {
  width: 15em;
  margin-left: 2.5em;
}

.seconds {
  width: 15em;
  float:right;
  margin-right:5em;
}

.error-message {
  padding-bottom: 1em;
  color: #EFB7EC;
  margin-left: 25px;
  visibility: hidden;

}

.error-message img{
  height:15px;
  width: 15px;
  margin-right: 5px;
  margin-left: -20px;
}

.timer {
  display: flex;
  position: relative;
  height: 300px;
  width: 300px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none  ;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 2px;
  stroke: yellow;
}

.timer-studytimer {
  stroke: #B3FD78;
}

.timer-meditate {
  troke: #C278FD;
}

.timer-exercise {
  stroke:salmon
}

.hidden {
  display: none;
}

.timer-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
  height: 40em;
  visibility: hidden;
  margin-left: 6em;
}

.countdown {
  display: flex;
  justify-content: center;  
}

.start-timer-button {
  display:block;
  background-color: #46424D;
  color: #FFF;
  font-family: Montserrat;
  font-weight: 400;
  height: 200px;
  width: 200px;
  margin-top: 5em;
  border-radius: 50%;
  border: 2px solid red;
  cursor:pointer;
  
}